@media only screen and (max-width: 600px) {
    .formule-header{
        font-size: 0.9rem;
}
.formule-price{
    font-size: 0.5rem!important;
}
.nav-item>a{
    color:#000!important;
    font-weight: bold;
    font-size: 0.7rem;
}
.card-lesson{
    width: 9rem;
}
.card-text{
    font-size:0.7rem;
}
.card-body{
    padding:1rem 0.8rem;
}
.nav-link>img{
    height:20px;
}
.profil{
    height: 20px;;
}
.lesson-img{
    height:5rem!important;
}
.hometexte h1{
color: orange;
font-size:0.8rem!important;
}
.hometexte span{
    font-size: 0.7rem;
    font-weight: 600;
}
.bp{
  font-weight: 800!important;
}
.lesson-img >img{
height:30px!important;
}
 .exa{
    border-radius: 5%;
    background-color: #fff;
    color:orange;
    Padding:6px 10px;
    margin-right:1px;
 }
 .num{
    font-size: 0.8rem;
    font-size:bold;
 }
 .button-action,.button-action-nof,.block-lesson{
font-size: 0.9rem!important;
 }

 .taille{
    height: 400px;
    padding-left:10px!important;
    padding-right:10px!important;
}
.elmat {
    padding: 13px 8px;
    font-size: 1rem!important;

    }
    .bg-ti{
        font-size:1.5rem!important;
    }
    .cado{
      padding:0px!important;
    }
}